In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/tesla-insider-trading/TSLA.csv

In [2]:
import pandas as pd

df = pd.read_csv('/kaggle/input/tesla-insider-trading/TSLA.csv')

print("Dataset Shape:", df.shape)
print("\nFirst 5 rows:")
display(df.head())
print("\nColumn Names and Data Types:")
print(df.info())

Dataset Shape: (156, 9)

First 5 rows:

,Insider Trading,Relationship,Date,Transaction,Cost,Shares,Value ($),Shares Total,SEC Form 4
0,Kirkhorn Zachary,Chief Financial Officer,2022-03-06,Sale,196.72,"10,455","2,056,775","203,073",Mar 07 07:58 PM
1,Taneja Vaibhav,Chief Accounting Officer,2022-03-06,Sale,195.79,"2,466","482,718","100,458",Mar 07 07:57 PM
2,Baglino Andrew D,SVP Powertrain and Energy Eng.,2022-03-06,Sale,195.79,"1,298","254,232","65,547",Mar 07 08:01 PM
3,Taneja Vaibhav,Chief Accounting Officer,2022-03-05,Option Exercise,0.00,"7,138",0,"102,923",Mar 07 07:57 PM
4,Baglino Andrew D,SVP Powertrain and Energy Eng.,2022-03-05,Option Exercise,0.00,"2,586",0,"66,845",Mar 07 08:01 PM

Column Names and Data Types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Insider Trading  156 non-null    object
 1   Relationship     156 non-null    object
 2   Date             156 non-null    object
 3   Transaction      156 non-null    object
 4   Cost             156 non-null    float64
 5   Shares           156 non-null    object
 6   Value ($)        156 non-null    object
 7   Shares Total     156 non-null    object
 8   SEC Form 4       156 non-null    object
dtypes: float64(1), object(8)
memory usage: 11.1+ KB
None